<h1>My Favorite Pets</h1>

<div class="card-columns">
  <% @pets.each do |pet| %>
      <div class="card">
        <%= image_tag(pet.image, class: "card-img-top")  %>
        <div class="card-body">
          <h3 class="card-title"><%= link_to pet.name, "/pets/#{pet.id}" %></h3>
        </div>
      </div>
  <% end %>
</div>

    <section class="linktoinfo">
    <h5><%= link_to "Remove Me From Your Favorites", "/favorites/#{favorite.pet_id}", method: :delete %></h5>
    </section>
    <% end %>
  </section>
