<h2> <%= @pet.name %>'s Applications </h2>

<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <% @pet.applications.each do |application| %>
        <li class="list-group-item">
          <%= link_to "#{application.name}", "/applications/#{application.id}" %>
        </li>
      <% end %>
    </ul><br/>
  </div>
</div>
